In [31]:
import pandas as pd

data = pd.read_csv("FINALE.csv")
print(data.columns)

Index(['ETER_ID_year', 'ETER_ID', 'institution_name',
       'english_institution_name', 'reference_year', 'country_code',
       'name_of_the_city', 'latitude', 'longitude',
       'personnel_expenditure(PPP)', 'non-personnel_expenditure(PPP)',
       'expenditure_unclassified(PPP)', 'total_current_expenditure(PPP)',
       'capital_expenditure_(PPP)', 'total_core_budget(PPP)',
       'total_third_party_funding(PPP)', 'student_fees_funding(PPP)',
       'revenue_unclassified(PPP)', 'total_current_revenues(PPP)',
       'total_academic_staff(FTE)', 'total_staff_(FTE)',
       'lowest_degree_delivered', 'highest_degree_delivered',
       'total_students_enrolled_at_ISCED_5',
       'total_students_enrolled_at_ISCED_6',
       'total_students_enrolled_at_ISCED_7',
       'total_students_enrolled_ISCED_7_longdegree',
       'total_students_enrolled_ISCED_5-7', 'total_graduates_at_ISCED_5',
       'total_graduates_at_ISCED_6', 'total_graduates_at_ISCED_7',
       'total_graduates_at_ISCED_7_longdegree', 'total_graduates_ISCED_5-7',
       'total_students_enrolled_at_ISCED_8', 'total_graduates_at_ISCED_8',
       'share_of_women_students_ISCED_5-7', 'share_of_women_academic_staff',
       'share_of_foreigners_students_ISCED_5-7', 'PhD_intensity',
       'erasmus_total_incoming_students', 'erasmus_total_outgoing_students'],
      dtype='object')

In [32]:
new_data = data.filter([  
        'total_current_expenditure(PPP)', 'total_current_revenues(PPP)',
       'total_academic_staff(FTE)', 'total_staff_(FTE)',
       'total_students_enrolled_ISCED_5-7', 'total_graduates_ISCED_5-7',
       'total_students_enrolled_at_ISCED_8', 'total_graduates_at_ISCED_8',
       'erasmus_total_incoming_students', 'erasmus_total_outgoing_students',
       'total_core_budget(PPP)' , 'student_fees_funding(PPP)' , 'total_third_party_funding(PPP)' ,
       'share_of_women_academic_staff' , 'share_of_women_students_ISCED_5-7' , 'PhD_intensity' ,
       'share_of_foreigners_students_ISCED_5-7'
        ] , axis=1)
new_data.head(10)

,total_current_expenditure(PPP),total_current_revenues(PPP),total_academic_staff(FTE),total_staff_(FTE),total_students_enrolled_ISCED_5-7,total_graduates_ISCED_5-7,total_students_enrolled_at_ISCED_8,total_graduates_at_ISCED_8,erasmus_total_incoming_students,erasmus_total_outgoing_students,total_core_budget(PPP),student_fees_funding(PPP),total_third_party_funding(PPP),share_of_women_academic_staff,share_of_women_students_ISCED_5-7,PhD_intensity,share_of_foreigners_students_ISCED_5-7
0,m,m,m,m,26602,m,m,m,m,m,m,m,m,m,"0,5586797985",m,"0,2048718141"
1,m,m,m,m,2915,m,m,m,m,m,m,m,m,m,"0,2253859348",m,"0,2216123499"
2,m,m,m,m,m,m,a,a,m,m,m,m,m,m,m,a,m
3,m,m,m,m,m,x,x,m,m,m,m,m,m,m,m,m,m
4,m,m,m,m,m,x,x,m,m,m,m,m,m,m,m,m,m
5,m,m,m,m,1040,m,m,m,m,m,m,m,m,m,"0,2769230769",m,"0,2298076923"
6,m,m,m,m,58721,m,m,m,m,m,m,m,m,m,"0,5750072376",m,"0,1274501456"
7,m,m,m,m,25770,m,m,m,m,m,m,m,m,m,"0,555258052",m,"0,07419480016"
8,m,m,m,m,m,x,x,m,m,m,m,m,m,m,m,m,m
9,m,m,m,m,705,m,a,a,m,m,m,m,m,m,"0,2141843972",a,"0,1418439716"

In [33]:
ref_year_data = data.filter(['reference_year' , 'country_code' ])

In [34]:
newdata = new_data.apply(lambda x: x.str.replace(',','.'))
newdata = newdata.replace(["m" , "#VALUE!" , "xr" , "c" , "a" , "xc" , "x" , "nc" , "s" , "NaN"] , 0)
newdata = newdata.astype(float)

In [35]:
newdata = pd.concat([ ref_year_data , newdata], axis=1 , ignore_index=False )

print(newdata.head(2))

   reference_year country_code  total_current_expenditure(PPP)  \
0            2017           FR                             0.0
1            2017           FR                             0.0

   total_current_revenues(PPP)  total_academic_staff(FTE)  total_staff_(FTE)  \
0                          0.0                        0.0                0.0
1                          0.0                        0.0                0.0

   total_students_enrolled_ISCED_5-7  total_graduates_ISCED_5-7  \
0                            26602.0                        0.0
1                             2915.0                        0.0

   total_students_enrolled_at_ISCED_8  total_graduates_at_ISCED_8  \
0                                 0.0                         0.0
1                                 0.0                         0.0

   erasmus_total_incoming_students  erasmus_total_outgoing_students  \
0                              0.0                              0.0
1                              0.0                              0.0

   total_core_budget(PPP)  student_fees_funding(PPP)  \
0                     0.0                        0.0
1                     0.0                        0.0

   total_third_party_funding(PPP)  share_of_women_academic_staff  \
0                             0.0                            0.0
1                             0.0                            0.0

   share_of_women_students_ISCED_5-7  PhD_intensity  \
0                           0.558680            0.0
1                           0.225386            0.0

   share_of_foreigners_students_ISCED_5-7
0                                0.204872
1                                0.221612

In [36]:
final2 = newdata.groupby(["country_code" , "reference_year"]).mean()

In [37]:
print(final2.head(2))

                             total_current_expenditure(PPP)  \
country_code reference_year
AL           2011                                       0.0
             2012                                       0.0

                             total_current_revenues(PPP)  \
country_code reference_year
AL           2011                                    0.0
             2012                                    0.0

                             total_academic_staff(FTE)  total_staff_(FTE)  \
country_code reference_year
AL           2011                                  0.0                0.0
             2012                                  0.0                0.0

                             total_students_enrolled_ISCED_5-7  \
country_code reference_year
AL           2011                                  3828.594595
             2012                                  4022.918919

                             total_graduates_ISCED_5-7  \
country_code reference_year
AL           2011                                  0.0
             2012                                  0.0

                             total_students_enrolled_at_ISCED_8  \
country_code reference_year
AL           2011                                           0.0
             2012                                           0.0

                             total_graduates_at_ISCED_8  \
country_code reference_year
AL           2011                                   0.0
             2012                                   0.0

                             erasmus_total_incoming_students  \
country_code reference_year
AL           2011                                        0.0
             2012                                        0.0

                             erasmus_total_outgoing_students  \
country_code reference_year
AL           2011                                        0.0
             2012                                        0.0

                             total_core_budget(PPP)  \
country_code reference_year
AL           2011                               0.0
             2012                               0.0

                             student_fees_funding(PPP)  \
country_code reference_year
AL           2011                                  0.0
             2012                                  0.0

                             total_third_party_funding(PPP)  \
country_code reference_year
AL           2011                                       0.0
             2012                                       0.0

                             share_of_women_academic_staff  \
country_code reference_year
AL           2011                                      0.0
             2012                                      0.0

                             share_of_women_students_ISCED_5-7  PhD_intensity  \
country_code reference_year
AL           2011                                     0.408431            0.0
             2012                                     0.415864            0.0

                             share_of_foreigners_students_ISCED_5-7
country_code reference_year
AL           2011                                               0.0
             2012                                               0.0

In [38]:
final2.to_csv("stastic_per_country_puredb.csv" , index=True)

In [39]:
final2 = final2.groupby(["reference_year"]).mean()

In [40]:
final2.to_csv("stastic_per_entiredb_alessandro.csv" , index=True)