In [99]:
import pandas as pd
import numpy as np

data = pd.read_csv("FINALE.csv")
print(data.columns)

Index(['ETER_ID_year', 'ETER_ID', 'institution_name',
       'english_institution_name', 'reference_year', 'country_code',
       'name_of_the_city', 'latitude', 'longitude',
       'personnel_expenditure(PPP)', 'non-personnel_expenditure(PPP)',
       'expenditure_unclassified(PPP)', 'total_current_expenditure(PPP)',
       'capital_expenditure_(PPP)', 'total_core_budget(PPP)',
       'total_third_party_funding(PPP)', 'student_fees_funding(PPP)',
       'revenue_unclassified(PPP)', 'total_current_revenues(PPP)',
       'total_academic_staff(FTE)', 'total_staff_(FTE)',
       'lowest_degree_delivered', 'highest_degree_delivered',
       'total_students_enrolled_at_ISCED_5',
       'total_students_enrolled_at_ISCED_6',
       'total_students_enrolled_at_ISCED_7',
       'total_students_enrolled_ISCED_7_longdegree',
       'total_students_enrolled_ISCED_5-7', 'total_graduates_at_ISCED_5',
       'total_graduates_at_ISCED_6', 'total_graduates_at_ISCED_7',
       'total_graduates_at_ISCED_7_longdegree', 'total_graduates_ISCED_5-7',
       'total_students_enrolled_at_ISCED_8', 'total_graduates_at_ISCED_8',
       'share_of_women_students_ISCED_5-7', 'share_of_women_academic_staff',
       'share_of_foreigners_students_ISCED_5-7', 'PhD_intensity',
       'erasmus_total_incoming_students', 'erasmus_total_outgoing_students'],
      dtype='object')

In [100]:
#testa = data[420:440]
testa = data.head(10)


lista_paesi = data.country_code.unique()
print(lista_paesi)

['FR' 'AL' 'AT' 'BE' 'BG' 'CH' 'CY' 'CZ' 'DE' 'DK' 'EE' 'ES' 'FI' 'GR'
 'HR' 'HU' 'IE' 'IS' 'IT' 'LI' 'LT' 'LU' 'LV' 'ME' 'MK' 'MT' 'NL' 'NO'
 'PL' 'PT' 'RO' 'RS' 'SE' 'SI' 'SK' 'TR' 'UK']

In [101]:
data = data.apply(lambda x:x.astype(str).str.replace(',','.'))

print(data.head(10))

  ETER_ID_year ETER_ID                                   institution_name  \
0  FR0001.2017  FR0001                 Université Nice - Sophia-Antipolis
1  FR0002.2017  FR0002                Université de technologie de Troyes
2  FR0003.2017  FR0003                                     École de l'air
3  FR0004.2017  FR0004  École nationale supérieure d'architecture de M...
4  FR0005.2017  FR0005  École supérieure d'art et de design Marseille-...
5  FR0006.2017  FR0006                        École centrale de Marseille
6  FR0007.2017  FR0007                           Aix-Marseille université
7  FR0008.2017  FR0008                 Université de Caen Basse-Normandie
8  FR0009.2017  FR0009  École supérieure d'arts et médias de Caen - Ch...
9  FR0010.2017  FR0010    École nationale supérieure d'ingénieurs de Caen

              english_institution_name reference_year country_code  \
0  University of Nice Sophia Antipolis           2017           FR
1   University of Technology of Troyes           2017           FR
2                                  nan           2017           FR
3                                  nan           2017           FR
4                                  nan           2017           FR
5                                  nan           2017           FR
6             Aix-Marseille University           2017           FR
7    University of Caen Lower Normandy           2017           FR
8                                  nan           2017           FR
9                                  nan           2017           FR

    name_of_the_city     latitude      longitude personnel_expenditure(PPP)  \
0               Nice  43.71688128    7.267293985                          m
1             Troyes    48.269146       4.066716                          m
2  Salon-de-Provence    43.624831       5.111683                          m
3          Marseille    43.229591       5.434393                          m
4          Marseille    43.228555        5.43565                          m
5          Marseille    43.342462        5.43711                          m
6          Marseille  43.29364446    5.358708294                          m
7               Caen  49.17526932  -0.3418634975                          m
8               Caen    49.180832      -0.346372                          m
9               Caen    49.214788      -0.367219                          m

   ... total_graduates_at_ISCED_7_longdegree total_graduates_ISCED_5-7  \
0  ...                                     m                         m
1  ...                                     m                         m
2  ...                                     m                         m
3  ...                                     x                         x
4  ...                                     x                         x
5  ...                                     m                         m
6  ...                                     m                         m
7  ...                                     m                         m
8  ...                                     x                         x
9  ...                                     m                         m

  total_students_enrolled_at_ISCED_8 total_graduates_at_ISCED_8  \
0                                  m                          m
1                                  m                          m
2                                  a                          a
3                                  x                          m
4                                  x                          m
5                                  m                          m
6                                  m                          m
7                                  m                          m
8                                  x                          m
9                                  a                          a

  share_of_women_students_ISCED_5-7 share_of_women_academic_staff  \
0                      0.5586797985                             m
1                      0.2253859348                             m
2                                 m                             m
3                                 m                             m
4                                 m                             m
5                      0.2769230769                             m
6                      0.5750072376                             m
7                       0.555258052                             m
8                                 m                             m
9                      0.2141843972                             m

  share_of_foreigners_students_ISCED_5-7 PhD_intensity  \
0                           0.2048718141             m
1                           0.2216123499             m
2                                      m             a
3                                      m             m
4                                      m             m
5                           0.2298076923             m
6                           0.1274501456             m
7                          0.07419480016             m
8                                      m             m
9                           0.1418439716             a

  erasmus_total_incoming_students erasmus_total_outgoing_students
0                               m                               m
1                               m                               m
2                               m                               m
3                               m                               m
4                               m                               m
5                               m                               m
6                               m                               m
7                               m                               m
8                               m                               m
9                               m                               m

[10 rows x 41 columns]

In [102]:
#funzioni consistency

def cons_1(tot_inc):
    if(typoBool(tot_inc)):
        value = typo(tot_inc)
        if(value > 0):
            return True
        else:
            if(tot_inc == "a"):
                return True 
            else:
                return False
    else: return False 

def cons_2(var1 , var2 , var3, res):
    if(typoBool(var1) & typoBool(var2) & typoBool(var3)& typoBool(res)):
        value1 = typo(var1)
        value2 = typo(var2)
        value3 = typo(var3)
        result = typo(res)
        if( int(value1 + value2 + value3) == int(result)):
            return True
        else: return False
    else: return False 

def cons_3(var1 , var2 , var3 , var4 , res):
    if(typoBool(var1) & typoBool(var2) & typoBool(var3) & typoBool(var4) & typoBool(res)):
        value1 = typo(var1)
        value2 = typo(var2)
        value3 = typo(var3)
        value4 = typo(var4)
        result = typo(res)
        if( int(value1 + value2 + value3 + value4)  == int(result)):
            return True
        else: return False
    else: return False

In [103]:
#education-consistency
def low_deg(isced , stud7 , stud6 , stud5 ):
    if(typoBool(isced)):
        isced_num = typo(isced)
        if(isced == 3):
            if(not stud7 == "a" & typoBool(stud7)):
                return False
        elif(isced == 2):
            if(not stud6 == "a" & typoBool(stud6)):
                return False
        elif(isced == 1):
            if(not stud5 == "a" & typoBool(stud5)):
                return False
        return True
    else:
        return False

def high_deg(isced , stud8 , stud7 , stud6 ):
    if(typoBool(isced)):
        isced_num = typo(isced)
        if(isced == 0):
            if(not stud6 == "a" & typoBool(stud6)):
                return False
        elif(isced == 1):
            if(not stud7 == "a" & typoBool(stud7)):
                return False
        elif(isced == 2):
            if(not stud8 == "a" & typoBool(stud8)):
                return False
        return True
    else:
        return False

In [104]:
def typo(var):
    try:
        return float(var)
    except ValueError:
        return var
def typoBool(var):
    try:
        float(var)
        return True
    except ValueError:
        return False

In [105]:
meta_report = pd.DataFrame(columns=["missing_perc" , "zero_value" , "c_value" , "s_value" , "nc_value" , "cons_perc"])
print(meta_report)

Empty DataFrame
Columns: [missing_perc, zero_value, c_value, s_value, nc_value, cons_perc]
Index: []

In [106]:
for index, row in data.iterrows():
    missing = 0
    zero_value = 0
    c_value = 0
    s_value = 0
    nc_value = 0
    consistency = []
    for value in row:
        if(value == "m"):
            missing = missing + 1
        elif(value == "0"):
            zero_value = zero_value + 1
        elif(value == "c"):
            c_value = c_value + 1
        elif(value == "s"):
            s_value = s_value + 1
        elif(value == "nc"):
            nc_value = nc_value + 1

    consi_1 = cons_1(row['total_current_revenues(PPP)'])
    consi_2 = cons_1(row['total_current_expenditure(PPP)'])
    consi_3 = cons_3(row['student_fees_funding(PPP)'],
     row['total_core_budget(PPP)'] ,
     row['revenue_unclassified(PPP)'] , 
     row['total_third_party_funding(PPP)']
     ,row['total_current_revenues(PPP)'])
    consi_4 = cons_2(row['non-personnel_expenditure(PPP)'] ,
        row['personnel_expenditure(PPP)'] ,
        row['expenditure_unclassified(PPP)'] ,
        row['total_current_expenditure(PPP)'])
    consi_5 = cons_1(row['total_academic_staff(FTE)'])
    consi_6 = cons_1(row['total_staff_(FTE)'])
    consi_7 = low_deg(row['lowest_degree_delivered'] 
        , row['total_students_enrolled_at_ISCED_7'] 
        , row['total_students_enrolled_at_ISCED_6']
        , row['total_students_enrolled_at_ISCED_5'])
    consi_8 = high_deg(row['highest_degree_delivered'] 
        , row['total_students_enrolled_at_ISCED_8'] 
        , row['total_students_enrolled_at_ISCED_7']
        , row['total_students_enrolled_at_ISCED_6'])
    consi_9 = cons_1(row['erasmus_total_incoming_students'])
    consi_10 = cons_1(row['erasmus_total_outgoing_students'])

    consistency.append(consi_1)
    consistency.append(consi_2)
    consistency.append(consi_3)
    consistency.append(consi_4)
    consistency.append(consi_5)
    consistency.append(consi_6)
    consistency.append(consi_7)
    consistency.append(consi_8)
    consistency.append(consi_9)
    consistency.append(consi_10)
    cons_final = consistency.count(True)/10

    to_attach = []
    if(missing != 0):
        missing = round(missing / 41 ,1)
    else :
        missing = 1.0
    
    to_attach.append(missing)
    to_attach.append(zero_value)
    to_attach.append(c_value)
    to_attach.append(s_value)
    to_attach.append(nc_value)
    to_attach.append(cons_final)
    
    meta_report = meta_report.append(dict(zip(meta_report.columns, to_attach)), ignore_index=True)

In [107]:
print(meta_report)

       missing_perc  zero_value  c_value  s_value  nc_value  cons_perc
0               0.6         1.0      0.0      0.0       0.0        0.2
1               0.5         0.0      0.0      0.0       0.0        0.2
2               0.5         0.0      0.0      0.0       0.0        0.2
3               0.6         0.0      0.0      0.0       0.0        0.0
4               0.6         0.0      0.0      0.0       0.0        0.0
...             ...         ...      ...      ...       ...        ...
17647           1.0         6.0      0.0      0.0       0.0        0.8
17648           1.0         3.0      0.0      0.0       0.0        1.0
17649           1.0         2.0      0.0      0.0       0.0        1.0
17650           1.0         4.0      0.0      0.0       0.0        1.0
17651           1.0         3.0      0.0      0.0       0.0        0.8

[17652 rows x 6 columns]

In [108]:
toconcat = data.filter(["institution_name" , "ETER_ID" , "reference_year", "country_code"])
final = pd.concat([toconcat , meta_report], axis=1 , ignore_index=False )
final.to_csv("statistic_per_uni.csv" , index=False)