In [2]:
import pandas as pd

data = pd.read_csv("FINALE.csv")
print(data.columns)

Index(['ETER_ID_year', 'ETER_ID', 'institution_name',
       'english_institution_name', 'reference_year', 'country_code',
       'name_of_the_city', 'latitude', 'longitude',
       'personnel_expenditure(PPP)', 'non-personnel_expenditure(PPP)',
       'expenditure_unclassified(PPP)', 'total_current_expenditure(PPP)',
       'capital_expenditure_(PPP)', 'total_core_budget(PPP)',
       'total_third_party_funding(PPP)', 'student_fees_funding(PPP)',
       'revenue_unclassified(PPP)', 'total_current_revenues(PPP)',
       'total_academic_staff(FTE)', 'total_staff_(FTE)',
       'lowest_degree_delivered', 'highest_degree_delivered',
       'total_students_enrolled_at_ISCED_5',
       'total_students_enrolled_at_ISCED_6',
       'total_students_enrolled_at_ISCED_7',
       'total_students_enrolled_ISCED_7_longdegree',
       'total_students_enrolled_ISCED_5-7', 'total_graduates_at_ISCED_5',
       'total_graduates_at_ISCED_6', 'total_graduates_at_ISCED_7',
       'total_graduates_at_ISCED_7_longdegree', 'total_graduates_ISCED_5-7',
       'total_students_enrolled_at_ISCED_8', 'total_graduates_at_ISCED_8',
       'share_of_women_students_ISCED_5-7', 'share_of_women_academic_staff',
       'share_of_foreigners_students_ISCED_5-7', 'PhD_intensity',
       'erasmus_total_incoming_students', 'erasmus_total_outgoing_students'],
      dtype='object')

In [3]:
new_data = data.filter(['total_current_expenditure_(PPP)', 'total_current_revenues(PPP)',
       'total_academic_staff(FTE)', 'total_staff_(FTE)',
       'total_students_enrolled_ISCED_5-7', 'total_graduates_ISCED_5-7',
       'total_students_enrolled_at_ISCED_8', 'total_graduates_at_ISCED_8',
       'erasmus_total_incoming_students', 'erasmus_total_outgoing_students',
        ] , axis=1)
print(new_data.head(2))

  total_current_revenues(PPP) total_academic_staff(FTE) total_staff_(FTE)  \
0                           m                         m                 m
1                           m                         m                 m

  total_students_enrolled_ISCED_5-7 total_graduates_ISCED_5-7  \
0                             26602                         m
1                              2915                         m

  total_students_enrolled_at_ISCED_8 total_graduates_at_ISCED_8  \
0                                  m                          m
1                                  m                          m

  erasmus_total_incoming_students erasmus_total_outgoing_students
0                               m                               m
1                               m                               m

In [4]:

newdata = new_data.apply(lambda x: x.str.replace(',','.'))
newdata = newdata.replace(["m" , "#VALUE!" , "xr" , "c" , "a" , "xc" , "x" , "nc" , "s" , "NaN"] , 0)
print(newdata.head(2))

  total_current_revenues(PPP) total_academic_staff(FTE) total_staff_(FTE)  \
0                           0                         0                 0
1                           0                         0                 0

  total_students_enrolled_ISCED_5-7 total_graduates_ISCED_5-7  \
0                             26602                         0
1                              2915                         0

  total_students_enrolled_at_ISCED_8 total_graduates_at_ISCED_8  \
0                                  0                          0
1                                  0                          0

  erasmus_total_incoming_students erasmus_total_outgoing_students
0                               0                               0
1                               0                               0

In [5]:
import numpy as np
from sklearn.decomposition import PCA

pca = PCA(n_components=2)
pca_of_data = pca.fit_transform(newdata)
print(pca_of_data)

[[-4.38466041e+07  2.15751062e+04]
 [-4.38466053e+07 -2.04439865e+03]
 [-4.38466054e+07 -4.95109248e+03]
 ...
 [-3.38879910e+07 -4.41525255e+03]
 [-3.11317986e+07 -4.22739231e+03]
 [ 1.49115697e+07 -6.89104229e+03]]

In [6]:
pca_to_dataframe = pd.DataFrame(pca_of_data , columns=["x" , "y"])
print(pca_to_dataframe.head(1))

              x             y
0 -4.384660e+07  21575.106231

In [7]:
toconcat = data.filter(["institution_name" , "ETER_ID" , "reference_year", "country_code"])
print(toconcat.head(1))

                     institution_name ETER_ID  reference_year country_code
0  Université Nice - Sophia-Antipolis  FR0001            2017           FR

In [8]:
final = pd.concat([pca_to_dataframe, toconcat], axis=1 , ignore_index=False )
print(final.head(2))

              x             y                     institution_name ETER_ID  \
0 -4.384660e+07  21575.106231   Université Nice - Sophia-Antipolis  FR0001
1 -4.384661e+07  -2044.398647  Université de technologie de Troyes  FR0002

   reference_year country_code
0            2017           FR
1            2017           FR

In [25]:
final.to_csv("pca.csv" , index=False)